<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="css/styling.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates|Roboto" rel="stylesheet">
	<title>Battle-Attack</title>
  </head>
  <body>
    <h1 class="small-header"><%= game.attacker.name %> attacked <%= game.receiver.name %>!</h1>
    <h2 id="attack-hp"><%= game.receiver.name %>'s' HP: <%= game.receiver.hit_points %>!</h2>
    <form action="/switch-turns">
      <input type="submit" value="ok" class="round-button">
    </form>
  </body>
</html>
