<h1><%= game.attacker.name %> attacked <%= game.receiver.name %>!</h1>
<h2>
<h2><%= game.receiver.name %> HP: <%= game.receiver.hit_points %>!</h2>

<form action="/switch-turns">
  <input type="submit" value="ok">
</form>
