<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="css/styling.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates|Roboto" rel="stylesheet">
	<title>Battle-Winner</title>
  </head>
  <body>
    <div>
      <h1 class="small-header"> <%= game.receiver.name %> wins! </h1>
    </div>
    <a href="http://localhost:9292" id="restart-link">
      <div class="round-button">Play Again</div>
    </a>
  </body>
</html>